
			div.metrics-group>div, div#metrics_div>div, div#metrics_tours_div>div, div#metrics_tours_div_active_items>div, div#metrics_tours_div_casual>div {
			    width: 30%;
			    margin: 10px;
			    display: inline-block;
			    vertical-align: top;
			    min-width: 210px;
			}

		

			div.metric-section, div#regions_div, div#regions_div_, div#metrics_div, div.metrics-group div#metrics_tours_div, div#metrics_tours_div_active, div#metrics_tours_div_casual, div#chart_12_months, div#chart_12_months_active, div#chart_distribution {
			    max-width: 900px;
			    width: calc( 100% - 100px );
			    margin: 50px auto;
			    text-align: center;
			    vertical-align: top;
			}

			div#regions_div.hidden, div#regions_div_.hidden{
				visibility: hidden;
				position: absolute;
			}

			button.region, button.world {
			    background-color: transparent;
			    border: none;
			    margin: 5px;
			    padding: 3px 10px;
			    cursor: pointer;
			    display: inline-block;
			    border-radius: 2px;
			    vertical-align: middle;
				position: relative;
    			top: 35px;
			}

			button.region.active, button.world.active {
			  
			}


			button.region.active:after, button.world.active:after {
			    content: "";
			    position: relative;
			    border-bottom: 2px solid black;
			    display: block;
			    top: 5px;
			}

			.keen-dataviz-title {
				margin-top: 100px;
			    scale: 2;
			}


			h1 {
			    font-family: sans-serif;
			    font-weight: 100;
			    font-size: 50px;
			    text-align: center;

			    max-width: 900px;
			    width: calc( 100% - 100px );
			    margin: 10px auto;

			}

			h2 {
			    font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			    font-weight: 200;
			    text-align: center;
			    max-width: 900px;
			    width: calc( 100% - 100px );
			    margin: 10px auto;
			    font-size: 28px;
			    color: #4D4D4D;
			    margin-top: 100px;
			}

			
			p {
			    margin: 10px auto;
			    font-family: sans-serif;
			    font-weight: 100;
			    color: #444444;

			    max-width: 900px;
			    width: calc( 100% - 100px );
			}

			h1>span {
			    font-weight: 400;
			    color: #00bbde;
			    font-size: 70px;
			}

			g.c3-axis.c3-axis-y {
			    display: none;
			}

			@media only screen and (max-width: 600px) {
			 	div.metrics-group>div, div#metrics_div>div, div#metrics_tours_div>div,  div#metrics_tours_div_active_items>div, div#metrics_tours_div_casual>div {
			 		min-width: unset;
			 		width: 90%;
			 	}
			}


			#metrics_tours_div_casual .keen-dataviz, .metrics-overlay .keen-dataviz {
			    scale: 0.3;
			    position: relative;
			    top: 70px;
			    left: 90px;
			    
			}

			div#metrics_tours_div_active, div.width-overlay  {
			    position: relative;
			}

			div#metrics_tours_div_casual, div.metrics-overlay  {
			    position: absolute;
			    top: 16px;
			    left: 35px;
			    margin: 0;
			}


			div#metrics_tours_div_casual .keen-dataviz .keen-dataviz-metric-value, div.metrics-overlay .keen-dataviz .keen-dataviz-metric-value{
				color: black;
			}


			label.active-u:after, label.casual-u:after {
			    content: "";
			    display: inline-block;
			    width: 12px;
			    height: 12px;
			    background-color: mediumaquamarine;
			    margin-left: 5px;
			    vertical-align: top;
			    border:1px solid #404040;
			}

			label.casual-u:after {
			     background-color: white;    
			}


			div#donuts>div {
			    width: calc( 50% - 10px);
			    display: inline-block;
			}
